.skillsheet-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.skillsheet-table th,
.skillsheet-table td {
  border: 1px solid #444;
  padding: 4px;
  /* font-size: 12px; */
  text-align: center;
}

.header {
  background-color: #b3e252;
}

.wide {
  text-align: left;
  padding-left: 8px;
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.vertical {
  writing-mode: vertical-rl; /* 縦書き、右→左 */
  text-orientation: mixed; /* 漢字・カナは縦、英数字は横 */
}

.small-width {
  width: 20px;
}

.assigned-process {
  width: 10px;
}

.sm-md-width {
  width: 60px;
}

.middle-width {
  width: 140px;
}

.md-lg-width {
  width: 180px;
}

.large-width {
  width: 350px;
}

.wrap-kintone-print {
  width: 1050px;
  margin: 0 auto;
  font-family: "Meiryo", sans-serif;
}

.text-s {
  font-size: 10px;
}

.text-left {
  text-align: left;
}

.pj-area {
  min-height: 120px;
}
